body, html {
  width: 100%;
}

#primary-container {
  width: 80%;
  min-height: 2000px;
  margin: 0 auto;
  padding-top: 100px;
  border: 1px solid blue;
}

/* START DESKTOP NAV STYLES */

#desktop-navigation {
  position: fixed;
  width: 100%;
  border: 1px solid red;
}

#desktop-navigation ul {
  text-align: center;
  width: 100%;
  border: 1px solid purple;
}

#desktop-navigation a {
  display: inline-block;
  /* top/bottom left/right */
  margin: 0px 10px;
  padding: 10px;
  border: 1px solid green;
}

#mobile-navigation {
  display: none;
}

/* END DESKTOP NAV STYLES */

/* START MOBILE NAV STYLES */

@media only screen and (min-width: 320px) and (max-width: 600px) {
  #mobile-navigation {
    display: block;
  }

  #desktop-navigation {
    display: none;
  }

  #primary-container {
    width: 100%;
  }
}

#mobile-menu {
  display: block;
  position: relative;
  width: 90%;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#mobile-menu input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

/* THIS IS WHERE THE HAMBURGER IS BUILT */
/* All of the spans */
#mobile-menu span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
              background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
              opacity 0.5s ease;
}

/* Top */
#mobile-menu span:first-child {
  transform-origin: 0% 0%;
}

/* Last */
#mobile-menu span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* TOP */
#mobile-menu input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

/* Hide the middle one */
#mobile-menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(-45deg) scale(0.2, 0.2);
}

/* 3rd Set them in opposite direction */
#mobile-menu input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* top right bottom left */
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: grey;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0)
}

#menu li {
  padding: 10px;
  font-size: 22px;
}

/* Slide in from left */
#mobile-menu input:checked ~ ul {
  transform: none;
}





















/* END MOBILE NAV STYLES */
