/*** SAMPLE DIRECTORY

1. TABLETS PORTRAIT AND LANDSCAPE / 768px - 1024px WIDE
2. TABLETS LANDSCAPE / 768px - 1024px WIDE
3. TABLETS LANDSCAPE / 768px - 1024px WIDE and PIXEL RATIO 2
4. TABLETS PORTRAIT / 768px - 1024px WIDE and PIXEL RATIO 2

***/

/* === 1. TABLETS PORTRAIT AND LANDSCAPE / 768px - 1024px WIDE === */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  /* SHOULD BE SAME AS SMALL DESKTOP, MIGHT NOT NEED STYLES */
  section#small-desktop-container {
    display: none;
  }

  section#tablet-portrait-landscape-container {
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    padding: 10px;
    background-color: purple;
    color: white;
    display: block;
  }

}

/* === 2. TABLETS LANDSCAPE / 768px - 1024px WIDE === */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

  /* SHOULD BE SAME AS SMALL DESKTOP, MIGHT NOT NEED STYLES */
  section#tablet-portrait-landscape-container {
    display: none;
  }

  section#tablet-landscape-container {
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    padding: 10px;
    background-color: grey;
    display: block;
  }

}

/* === 3. TABLETS LANDSCAPE / 768px - 1024px WIDE and PIXEL RATIO 2 === */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

  /** DONT ACTUALLY NEED THIS FOR THIS DEMO, JUST USEFUL INFO **/

}

/* === 4. TABLETS PORTRAIT / 768px - 1024px WIDE and PIXEL RATIO 2 === */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

  /** DONT ACTUALLY NEED THIS FOR THIS DEMO, JUST USEFUL INFO **/

}
