div {
  position: absolute;
  width: 100px;
  height: 50px;
}

#red {
  top: 0px;
  left: 0px;
  background-color: red;
}

#green {
  /* Y axis */
  top: 50px;
  /* X axis */
  left: 100px;
  background-color: green;
}

#blue {
  top: 500px;
  left: 200px;
  background-color: blue;
}

#orange {
  top: 150px;
  left: 300px;
  background-color: orange;
}

#purple {
  top: 200px;
  left: 400px;
  background-color: purple;
}
