/* IDs are targetted by the pound sign/hashtag */
#the-only-one {
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 1px solid black;
}

#the-second-one {
  width: 200px;
  height: 200px;
  background-color: red;
  border: 1px solid black;
}

.multiple-styles {
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: green;
}
