body, html {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
}

div {
  position: relative;
}

#nav {
  position: absolute;
  width: 100%;
  background-color: black;
  color: white;
  top: -30px;
  z-index: 100;
}

.hidden {
  display: none;
}

.link {
  float: left;
  margin: 10px;
  cursor: pointer;
}

#plus {
  clear: both;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

#content {
  position: absolute;
  width: 500px;
  height: 500px;
  border: 1px dotted black;
  padding: 10px;
}
