
/* Flex styles */
header {
  display: flex;
  align-items: center;
}

@media ( min-width: 700px ) {
  .leading {
    display: flex;
    align-items: center;
  }
}

/* Grid styles */

.projects {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax( 250px, 1fr ) );
  grid-gap: 30px;
}

/* Global styles */

body, html {
  font-family: Helvetica, sans-serif;
}

header {
  padding: 10px;
  font-size: 2em;
  color: white;
  background-color: #333;
}

.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  color: white;
  background-color: #333;
}

.leading-bigtext {
  margin-right: 60px;
  font-weight: bold;
  font-size: 18vw;
}

@media ( min-width: 700px; ) {
  .leading-bigtext {
    font-size: 140px;
  }
}

.leading-text {
  max-width: 900px;
  font-size: 1.2em;
  line-height: 1.4em;
}

.projects {
  max-width: 960px;
  /* top right&left bottom */
  margin: 0 auto 30px;
}

article {
  position: relative;
}

article img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

article h1 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  padding: 10px;
  background-color: white;
}
