/***  SAMPLE DIRECTORY

1. SMARTPHONES PORTRAIT AND LANDSCAPE / 320px - 480px WIDE
2. SMARTPHONES LANDSCAPE / 321px - 736px WIDE
3. IPHONE 6 LANDSCAPE / 375px WIDE - 667px HEIGHT and PIXEL RATIO 2
4. IPHONE 6+ LANDSCAPE / 414px WIDE - 736px HEIGHT and PIXEL RATIO 2

***/

/* === 1. SMARTPHONES PORTRAIT AND LANDSCAPE / 320px - 480px WIDE === */

/* === 1. SMARTPHONES PORTRAIT AND LANDSCAPE / 320px - 480px WIDE === */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  section#smartphone-landscape-container,
  section#large-smartphone-landscape-retina-container {
    display: none;
  }

  section#smartphone-portrait-landscape-container {
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    padding: 10px;
    background-color: teal;
    color: white;
    display: block;
    font-size: 40px;
  }

}

/* === 2. SMARTPHONES LANDSCAPE / 321px - 735px WIDE === */
@media only screen and (min-width : 321px) and (max-device-width : 568px) and (orientation : landscape) {

  section#smartphone-landscape-container,
  section#smartphone-portrait-landscape-container,
  section#large-smartphone-landscape-retina-container {
    display: none;
  }

  section#smartphone-landscape-container {
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    padding: 10px;
    background-color: brown;
    color: white;
    display: block;
    font-size: 40px;
  }

}

/* === 3. IPHONE 6 LANDSCAPE / 569px WIDE - 667px HEIGHT and PIXEL RATIO 2 === */
@media only screen and (min-device-width: 667px) and (max-device-width: 735px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

  section#smartphone-landscape-container,
  section#smartphone-portrait-landscape-container, {
    display: none;
  }

  section#large-smartphone-landscape-retina-container {
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    padding: 10px;
    background-color: green;
    color: white;
    display: block;
    font-size: 40px;
  }

}

/* === 4. IPHONE 6+ LANDSCAPE / 667px WIDE - 736px HEIGHT and PIXEL RATIO 2 === */
@media only screen and (min-device-width: 736px) and (max-device-width: 811px) and (orientation : landscape) /* and (-webkit-device-pixel-ratio: 2) */ {

  section#xlarge-smartphone-landscape-retina-container {
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    padding: 10px;
    background-color: yellow;
    color: white;
    display: block;
    font-size: 40px;
  }

}
